<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Steps</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app" class="container">
    <h1>{{message}}</h1>
    <br>
    <div class="step" v-for="item in items">
      <div class="col-circle">
        <div class="risco" :class="{ top: item.id === 1 }"></div>
        <div class="bolinha">{{item.id}}</div>
      </div>
      <div class="col-card">
        <div class="header" v-on:click="toogle(item.id)">
          Escolher plano
        </div>
        <div class="body" v-if="item.open">body</div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="app.js"></script>
</body>

</html>